footer{
  
  margin-top: 100px;
}
.footer{
  display: flex;
  justify-content: space-between;
}
.logo{
  &:nth-child(1){

  }
  img{
    max-width: 100px;
      max-height: 30px;
  }
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  div{
    display: flex;
    gap: 20px;
  }
}

.quicklinks{
  display: flex;
  flex-direction: column;
  gap: 16px;
  h3{
    color: white;
  }
  a{
    color: #b9b9b9;
    text-decoration: none;
  }
}

.support{
    display: flex;
      flex-direction: column;
      gap: 16px;
    
      h3 {color: white;}
    
      a {
        color: #b9b9b9;
        text-decoration: none;
      }
}

.need{
  display: flex;
  flex-direction: column;
  gap: 10px;
  h3{
    color: white;
  }

  div{
    display: flex;
    gap: 6px;
    h3{
      color: #b9b9b9;
    }
  }
}